<ion-content>
  <a class="github-link" href="https://github.com/albertobeiz/face-model-creator">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 15;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
      alt="Fork me on GitHub">
  </a>

  <ion-toolbar color="primary">
    <ion-title text-center>Face Model Creator</ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content text-center style="color: orange; user-select: text">
          For better (way better) face detection use Google Chrome and activate chrome://flags#enable-experimental-web-platform-features.
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-md-8>
        <ion-card>
          <ion-card-content>
            <div class="video-container">
              <video #video id="video" autoplay></video>
              <canvas #canvas id="canvas"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-md-4>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="labelToAdd" placeholder="New Label"></ion-input>
              <button ion-button item-right (click)="onAddLabel(labelToAdd)">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-item *ngIf="objectKeys(faceRecognizer.imageStore.data).length === 0">
              <span ion-text color="primary">Add two labels to start</span>
            </ion-item>

            <ion-item *ngIf="objectKeys(faceRecognizer.imageStore.data).length > 0">
              <span ion-text color="primary">
                Click
                <ion-icon name="camera"></ion-icon> to take a picture of the blue squared face
              </span>
            </ion-item>

            <ion-item *ngFor="let key of objectKeys(faceRecognizer.imageStore.data)">
              <button ion-button item-left (click)="onAddPicture(key)">
                <ion-icon name="camera"></ion-icon>
              </button>
              {{key}}
              <span item-right>{{faceRecognizer.imageStore.data[key].length}} pictures</span>
            </ion-item>
            <ion-item *ngIf="objectKeys(faceRecognizer.imageStore.data).length === 1">
              <span ion-text color="danger">You must add at least 2 labels</span>
            </ion-item>

            <button *ngIf="objectKeys(faceRecognizer.imageStore.data).length >= 2" ion-button full margin-top (click)="onExportData()">
              Export Data
            </button>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="objectKeys(faceRecognizer.imageStore.data).length === 0">
          <ion-card-content>
            <ion-item>
              <ion-label no-margin margin-top>Import Data</ion-label>
            </ion-item>
            <input padding-left id="data-import" type="file" placeholder="Model Data" />

            <button ion-button full margin-top (click)="onImportData()">Import Data</button>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="faceRecognizer.imageClassifier.loss">
          <ion-card-content>
            <ion-item>
              <span ion-text color="primary">Training</span>
            </ion-item>
            <ion-item>Loss: {{faceRecognizer.imageClassifier.loss | number:'1.2-7'}}</ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card class="model-params">
          <ion-card-content>
            <ion-item>
              <ion-label no-margin>Learning Rate</ion-label>
              <ion-input type="number" [(ngModel)]="faceRecognizer.imageClassifier.learningRate" step="0.00001"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label no-margin>Hidden Units</ion-label>
              <ion-input type="number" [(ngModel)]="faceRecognizer.imageClassifier.hiddenUnits"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label no-margin>Batch Size</ion-label>
              <ion-input type="number" [(ngModel)]="faceRecognizer.imageClassifier.batchSize"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label no-margin>Epochs</ion-label>
              <ion-input type="number" [(ngModel)]="faceRecognizer.imageClassifier.epochs"></ion-input>
            </ion-item>
            <button ion-button full margin-top (click)="onTrainModel()" [disabled]="faceRecognizer.imageClassifier.isTraining || objectKeys(faceRecognizer.imageStore.data).length < 2">Train Model</button>
            <button ion-button full margin-top color="secondary" *ngIf="faceRecognizer.imageClassifier.headModel" (click)="onExportModel()">Export Model</button>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label no-margin>Model JSON</ion-label>
            </ion-item>
            <input padding-left id="json-upload" type="file" placeholder="Model JSON" />

            <ion-item>
              <ion-label no-margin margin-top>Model Weights</ion-label>
            </ion-item>
            <input padding-left id="weights-upload" type="file" placeholder="Model Weights" />

            <ion-item>
              <ion-label no-margin margin-top>Model Data</ion-label>
            </ion-item>
            <input padding-left id="data-upload" type="file" placeholder="Model Data" />

            <button ion-button full margin-top (click)="onImportModel()">Import Model</button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<canvas #faceCanvas id="face-canvas" width="224" height="224" hidden></canvas>