<ion-content margin padding *ngIf="!faceDetectorAvailable">
  <p>This demo only works in an updated version of Google Chrome</p>
  <p>An experimental flag needs to be enabled.</p>
  <p>Visit:</p>
  <div><span ion-text color="primary" style="user-select: text">chrome://flags#enable-experimental-web-platform-features</span></div>
  <p>and enable it.</p>
</ion-content>

<ion-content *ngIf="faceDetectorAvailable">
  <ion-toolbar color="primary">
    <ion-title text-center>Face Model Creator</ion-title>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-card>
          <ion-card-content>
            <div class="video-container">
              <video #video id="video" autoplay></video>
              <canvas #canvas id="canvas"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="labelToAdd" placeholder="New Label"></ion-input>
              <button ion-button item-right (click)="onAddLabel(labelToAdd)">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-item *ngIf="objectKeys(data).length === 0"><span ion-text color="primary">Add a label to start</span></ion-item>

            <ion-item *ngIf="objectKeys(data).length > 0">
              <span ion-text color="primary">
                Click  <ion-icon name="camera"></ion-icon>  to add the blue squared face to the label
              </span>
            </ion-item>

            <ion-item *ngFor="let key of objectKeys(data)">
              <button ion-button item-left (click)="onAddPicture(key)">
                <ion-icon name="camera"></ion-icon>
              </button>
              {{key}}
              <span item-right>{{data[key].length}} pictures</span>
            </ion-item>
            <ion-item *ngIf="objectKeys(data).length === 1"><span ion-text color="danger">You must add at least 2 labels</span></ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card class="model-params">
          <ion-card-content>
            <ion-item>
              <ion-label no-margin>Learning Rate</ion-label>
              <ion-input type="number" [(ngModel)]="imageClassifier.learningRate"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label no-margin>Hidden Units</ion-label>
              <ion-input type="number" [(ngModel)]="imageClassifier.hiddenUnits"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label no-margin>Batch Size</ion-label>
              <ion-input type="number" [(ngModel)]="imageClassifier.batchSize"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label no-margin>Epochs</ion-label>
              <ion-input type="number" [(ngModel)]="imageClassifier.epochs"></ion-input>
            </ion-item>
            <button ion-button full margin-top (click)="onTrainModel()" [disabled]="imageClassifier.isTraining || objectKeys(data).length < 2">Train Model</button>
            <button ion-button full margin-top color="secondary" *ngIf="imageClassifier.headModel" (click)="onExportModel()">Export Model</button>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="imageClassifier.loss">
          <ion-card-content>
            <ion-item>Loss: {{imageClassifier.loss | number:'1.2-7'}}</ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label no-margin>Model JSON</ion-label>
            </ion-item>
            <input padding-left id="json-upload" type="file" placeholder="Model JSON" />

            <ion-item>
              <ion-label no-margin margin-top>Model Weights</ion-label>
            </ion-item>
            <input padding-left id="weights-upload" type="file" placeholder="Model Weights" />

            <ion-item>
              <ion-label no-margin margin-top>Model Data</ion-label>
            </ion-item>
            <input padding-left id="data-upload" type="file" placeholder="Model Data" />

            <button ion-button full margin-top (click)="onImportModel()">Import Model</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<canvas #faceCanvas id="face-canvas" width="224" height="224" hidden></canvas>